 body{
    padding: 0%;
    margin: 0%;
 }
 .BK{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
 }
 .list{
    color: blue;
    display: flex;
    font-size: 20px;
    font-weight: 100;
 }
 .list_one>a:hover{
   color: white;
   background-color: #072e5e;
}
 .list_one{
   padding: 10px;
   margin-left: 30px;
 }
 .list_one>a{
   padding: 10px;
   margin-left: 10px;
   text-decoration: none;
   color: #0c4da2;
 }
.list_1{
display: flex;
font-size: 20px;
font-weight: 100;
color: blue;
margin-right: 30px;
}
.list_1>a{
   padding: 10px;
   margin-left: 10px;
   margin-top: 5px;
   text-decoration: none;
   color: #0c4da2;
   margin-right: 5px;
 }
 .list_1>i{
   padding-top: 10px;
   margin-left: 7px;
   margin-top: 5px;
   color: #0c4da2;
 }
 .list_1>a:hover{
   color: #e39614;
 }
 .list_1>i:hover{
   color: #e39614;
 }
 .vertical-1{
   color: #ecb85f;
   height: 30px;
   margin-top: 15px;
 }
   .Image{
      background-color: #0c4da2;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 60px;
      margin-top: 10px;
      color: white;
     
   }
   .image_bk{
      margin-top: -113.5px;
      height:280px ;
      width: 250px;
      margin-left: 30px;
   }
   .Icon{
      margin-right: 60px; 
      display: flex;
      list-style: none;
   }
  .Icon>:nth-child(1){
   padding: 10px;
  }
  .Icon>:nth-child(2){
   padding: 10px;
  }
  .Icon>:nth-child(3){
   padding: 10px;
   border-right: 1px solid greenyellow;
  }
  .Icon>:nth-child(4){
   padding: 10px;
  }
  .Icon>:nth-child(5){
   margin-left: 5px;
   font-size: 20px;
   margin-top: 8px;
  }
  .Container{
   background-color: #072e5e;
width: 100%;
height: 50px;
margin-top: -18px;
  }
  .Icon:hover{
   color: #e39614;
  }
  .list_2{
   display: flex;
   list-style: none;
   color: white;
   padding: 15px;
  }
  .list_2 >li{
   margin-left: 30px;
  }
  .Display{
   background-color: white;
   width: 100%;
   height: 280px;
   display: flex;
  margin-left: 5px;
  }
.Display_b{
   margin-left: 70px;
   font-size: 30px;
   font-weight: 200;
   color: #0c4da2;
}
  .Button{
   margin-left: 20px;
   background-color:cornflowerblue;
   color: white;
   margin-right: 200px;
   text-decoration: none;
  }
  .Button >a {
   text-decoration: none;
  }
  .Menu{
   background-color: white;
   width: 100%;
   height: 150px;
   display: flex;
  }
  .bk_menu{
   background-color: white;
   border: 1px solid blue;
   width: 250px;
   height: 400px;
  margin-left: 30px;
  margin-top: 150px;
  margin-right: 30px;
  }

  .bk_menu:hover {
   border: 1px solid #e39614;
   color: #e39614;
  }
  
  .service-header{
   color: darkblue;
   font-weight: 200px;
   font-size: 20px;
   margin-left: 30px;
   margin-top: 90px;
  }
   .list_3{
      list-style: none;
      height: 90px;
      width: 230px;
     }
  .Design{
   background-color: #0c4da2;
   height: 90px;
   width: 230px;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: -270px;
  }

  .Design:hover{
   background-color: #e39614;
   cursor: pointer;
  }
  .Design >i{
 margin: 20px 50px 40px 90px;
   color: white;
  }
  .Design_2{
   background-color:inherit;
   width: 20px;
   height: 20px;
   margin-top: 4px;
   margin-left: 100px;
   rotate: 45deg;
  }
  .row-6{
   background-color: white;
   width: 100%;
   height: 50%;
   margin-top: 470px;
  }
  .header-1{
   color: #0c4da2;
  font-weight: 40px;
  text-align: center;
  }
  .prag-1{
   text-align: center;
   color: gray;
  }
.line{
   margin-right: 570px;
   margin-left: 570px;
   border: 1px solid darkorange;
}
.menu-2{
   width: 100%;
   background-color: white;
   height: 100px;
   display: flex;
   justify-content: space-between;
   padding: 10px;
}
.header-2{
   margin-left: 80px;
   color: #0c4da2;
}
.images{
   margin-top: 10px;
   height:100px ;
   width: 100px;
   margin-left: 80px;
}
.prag-2{
margin-right: 200px;
margin-left: 20px;
   color: gray;
padding-left: 30px;
text-align: center;
}
.Button-1{
   margin-left: 80px;
   margin-right: 210px;
   padding: 10px;
   background-color:cornflowerblue;
   color: white;
  }
  .Button-1>a {
   text-decoration: none;
  }

  .vertical-line{
   width: 1px;
   height: 130px;
   margin-top: 90px;
   background-color: #0c4da2;
  }
  .our-contact{
   background-color: rgb(233, 235, 239);
   height: 150px;
   margin-top: 230px;
   display: flex;
   justify-content: space-between;
  }
  .header-3{
color: gray;
margin-top: 10px;
margin-left: 60px;
  }
.icons{
   display: flex;
   flex-direction: row;
  }
  .social-icon{
   background-color: darkgrey;
   height: 50px;
   width: 50px;
   margin-left: 50px;
   margin-right: 5px;
   padding: 2px;
  }
  .social-icon:nth-child(2){
   margin-left: 2px;
  }
  .social-icon:nth-child(3){
   margin-left: 2px;
  }
  .social-icon:nth-child(4){
   margin-left: 2px;
  }
  .social-icon:nth-child(1):hover{
  background-color: #0c4da2;
  }
  .social-icon:nth-child(2):hover{
   background-color: skyblue;
   }
   .social-icon:nth-child(3):hover{
      background-color: violet;
      }
      .social-icon:nth-child(4):hover{
         background-color: rgb(12, 205, 12);
         }
  .social-icon>i{
   margin: 15px;
   color: white;
  }

  .Button-n{
   margin-left: 20px;
   color: white;
   margin-right: 200px;
   text-decoration: none;
  }
  .Button-n>a{
   text-decoration: none;
   color: #97bef1;
  }

  .footer-form{
   width: auto;
   padding-top: 10px;
   display: flex;
   flex-direction: column;
   gap: 20px;
  }

  .form-control{
   display: flex;
   flex-direction: row;
  }
 
  .form-group{
   border: 2px solid #0c4da2;
   padding: 3px;
   background-color: white;
   margin-right: 4px;
  }

  .form-group>input{
   background-color: transparent;
   border: none;
   height: 30px;
  }
  .form-group>input:focus{
   outline: none;
}
  #sub{
   background: #0c4da2;
   color: white;
   border: 2px solid #0c4da2;
  }
  .phone-call{
   margin: 30px;
   display: flex;
   flex-direction: row;
   font-size: 50px;
   padding: 10px;
  }
  .formore{
   font-size: 20px;
   margin-top: -10px;
   color: gray;
  }
  .number{
   display: flex;
   flex-direction: column;
  }
  .phone-call>i{
   color: grey;
  }
  .formore-1{
   font-size: 20px;
   margin-top: -10px;
   color: darkorange;
  }
  .l-container{
   width: 100%;
   height: 630px;
   background-color: #0c4da2;
   margin-top: -20px;
   display: flex;
   justify-content: space-between;
  }
  .bk-address{
   color: white;
 margin-top: 20px;
 margin-right: 10px;
  }
  .bk-logo{
display: flex;
flex-direction: row;
  }
  .for-bk{
   width: 70px;
   height: 80px;
  margin-top: 30px;
  margin-left: 30px;
  }
  .header-a{
   margin-left: -10px;
   margin-top: 60px;
   font-size: 23px;
   margin-right: 30px;
   padding-bottom: 40px;
  }
  .header-b{
   color: rgb(240, 233, 233);
   margin-left: 30px;
   font-weight: 40px;
  }
  .header-d{
   color: rgb(240, 233, 233);
   margin-left: 30px;
   font-weight: 40px;
   margin-right: 30px;
  }
  .header-b:hover{
   color: #e39614;
  }
  .header-c{
  color: white;
   margin-left: 30px;
   font-weight: 200px;
  }
  .bk-link>i{
   font-size: 10px;
   color: #e39614;
   margin-top: 25px;
  }
  .header-e{
   margin-left: 8px;
   font-weight: 40px;
   margin-top: -7px;
  }
  .bk-link1{
   display: flex;
   margin-top: 10px;
   border-bottom: 0.1px dashed rgb(141, 141, 203);
  }
  .bk-link1:hover{
   color: #e39614;
  }
  .bk-link1>i{
   font-size: 10px;
   color: #e39614;
  }

.bk-access{
 color: white;
 margin-top: 20px;
 margin-right: 10px;
}
.header-f{
   margin-left: -10px;
   margin-top: 60px;
   font-size: 23px;
   margin-right: 5px;
   width: 130px;
  padding-bottom: 50px;
  }
  .horizantal-line{
   border: 2px solid rgb(239, 149, 39);
   margin-top: 40px;
  }
  .table{
   margin: 5px;
   padding: 5px;
  border-collapse: collapse;
  }
  .table-header{
   font-weight: 130px;
   margin-left: 60px;
 padding-left: 30px;
 padding-bottom: 15px;
  }
  .usa-f{
   width: 20px;
   height: 20px;
   margin-left: 40px;
  }
  #usd{
  display: flex;
  }
  .usd-h{
   margin-top: -0.5px;
   margin-left: 3px;
  }
  .price-h{
   margin-top: -0.5px;
   margin-left: 30px;
  }
  .tr-table{
  border-bottom: 1px solid white;
  justify-items: center;
  align-items: center;
  }
  .h-time{
   margin-left: 70px;
  }
  .Button-2{
   margin-left: 80px;
   margin-right: 150px;
   padding: 10px;
   background-color:cornflowerblue;
   color: white;
  }
  .Button-2>a {
   text-decoration: none;
  }
  .last-div{
   background-color: #4084d6;
   width: 100%;
   height: 50px;
   margin-top: -20px;
   display: flex;
   justify-content: space-between;
  }
  .last-h{
   color: white;
   margin-left: 30px;
   margin-right: 220px;
  }
  .last-h>span:hover{
   color: #e39614;
  }
  .Button-n>a:hover{
   color: #e39614;
  }
.service-header:hover{
   color: #e39614;
}
